{# Post list template #}

{% extends '::base.html.twig' %}

{% block body -%}   
    <section class="posts-container row">
        <header class="text-center">
            <h3 class="col-xs-12">{{ 'post.list.title'|trans({},'SebblaPostBundle') }}</h3>
        </header>
        {% include 'SebblaPostBundle:Post:sorting.html.twig' %}        
        {% for post in pagination %}
            {% include 'SebblaPostBundle:Post:smallPost.html.twig' with { 'post': post } %}              
        {% endfor %}
    </section>
    <div class="pagination-container row">
        {{ knp_pagination_render(pagination) }}
    </div>      
{% endblock %}