{# Post sorting template #}

<div class="post-sorting-container col-xs-12">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">{{ 'post.sorting'|trans({},'SebblaPostBundle') }}<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                {{ knp_pagination_sortable(pagination, 'post.sorting.byname'|trans({},'SebblaPostBundle'), 'p.name') }} 
            </li>
            <li role="presentation">
                {{ knp_pagination_sortable(pagination, 'post.sorting.bytype'|trans({},'SebblaPostBundle'), 'p.type') }} 
            </li>
        </ul>
    </div>            
</div>