<div class="animation-container">
    <div class="sun-container">
        <div class="inner">
            <div class="ray"></div>
            <div class="ray"></div>
            <div class="ray"></div>
            <div class="ray"></div>                    
        </div>
    </div>
    <div class="car-container">
        <div class="roof-container">
            <div class="roof"></div>                
        </div>  
        <div class="car-body">
            <div class="door-handle"></div>
            <div class="light front-light"></div>
            <div class="light rear-light"></div>
            <div class="wheel"></div>
            <div class="wheel"></div>
        </div>
    </div>
    <div class="lighthouse-container">
        <div class="top-part"></div>
        <div class="middle-part">
            <div class="middle-window"></div>
            <div class="middle-window"></div>
            <div class="middle-window"></div>
        </div>
        <div class="bottom-part-container">
            <div class="bottom-part">
                <div class="window window-top"></div>
                <div class="window window-middle"></div>
                <div class="window window-bottom"></div>    
            </div>                        
        </div>
    </div>
    <div class="earth-container">
        <img src="images/earth.png" alt="Earth">
    </div>
    <div class="clouds-container">
        <div class="cloud cloud-main"></div>
        <div class="cloud cloud-back"></div>
    </div>            
</div>